.container{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.desc{
    font-size: 24px;
    color: #444;
    width: 70%;
}
.wrapper{
    width: 100%;
    flex-wrap: wrap;  /* because here we are using display flex all the items will align to horizonal to prevent this we use this*/
    display: flex;
    justify-content: center;
    align-items: center;
}